.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px 35px 0 14px;
}

.u-section-1 .u-text-4 {
  margin: 37px auto 0 24px;
}

.u-section-1 .u-image-1 {
  min-height: 573px;
  background-image: url("images/pexels-photo-3694884.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 46px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 29px 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 46px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 342px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 735px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 367px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px 30px 30px;
}

.u-section-2 .u-image-1 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -134px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 269px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 550px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    height: 114px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -79px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 222px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 23px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 23px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 23px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 23px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 692px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 20px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 95px;
    width: 330px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-bottom: -277px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 680px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1273px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-bottom: -217px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1267px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2 .u-image-1 {
    height: 132px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-bottom: -118px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 277px;
}

.u-section-3 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 54px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-3 .u-group-1 {
    width: 686px;
    margin-top: -2px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 525px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -27px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/b8ddd40919376f0ca42a02d9edcb57d52718657788e722536b710dc8adbb267170af013584992e842925997f148660569ead6ea9d9a92b9609e5b0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 992px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 12px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-decoration: underline !important;
  margin: 54px 188px 0 48px;
}

.u-section-4 .u-form-1 {
  height: 331px;
  margin: 34px 34px 0 48px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-form-group-7 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 472px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 818px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 136px;
    margin-left: 14px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-image-1 {
    min-height: 543px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-image-1 {
    min-height: 342px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 245px;
}

.u-section-5 .u-group-1 {
  width: 832px;
  min-height: 175px;
  margin: 35px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-5 .u-group-1 {
    width: 686px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: url("images/ai.webp");
  background-position: 0% 50%;
  background-size: auto 120%;
}

.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-group-1 {
  width: 476px;
  min-height: 591px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 217px auto 60px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 93px 0 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  margin: 37px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-6 .u-group-1 {
    width: 433px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 57.48% 100%;
  }

  .u-section-6 .u-group-1 {
    width: 377px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 62% 100%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.25), rgba(41,46,51,0.25)), url("images/36cc8fd72ce6c3164b12af051abd05ecb7f30269fbf2259ac228877e6675b03e480016901a39e98cff0d453ff58122d584bfd469f9505ed74c33e1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-group-1 {
  min-height: 418px;
  width: 800px;
  margin: 43px -20px 60px 360px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 127px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-7 .u-group-1 {
    min-height: 450px;
    width: 660px;
    margin-left: 260px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    min-height: 485px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-7 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 53px auto 70px 0;
}

.u-section-8 .u-image-1 {
  background-image: url("images/3e9ec1fbf20b22dd7b8570e577656ba11f1a3a7789858932e94f93cc92f5c6d5102ea374ef070e9fba91ef20586f58bc35f2fec2bbaa73a9f90353_1280.jpg");
  min-height: 558px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/da19ee35f152941f497af1398e3340dba1d0b62daaa78626f2c834a69306785e2bece46c5ec4932765bb09038fd19d8735871a689c4868c42d0963_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 279px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-1 {
  height: 49px;
  width: 49px;
  margin: 0 105px 0 auto;
}

.u-section-8 .u-text-1 {
  margin: 19px 20px 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 279px;
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-2 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-8 .u-image-3 {
  background-image: url("images/7a0bb5f769b96b9693795a6b31fa15ee28daa5afbf6244a1a49e4d204fde56ce2ae550313fbab67f1de0b44d021a5fbab1abf5df7d32d271eb5a77_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 86px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 911px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 548px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-9 .u-list-1 {
  margin-bottom: -270px;
  margin-top: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 570px;
  grid-gap: 40px 40px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-9 .u-icon-1 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-9 .u-line-1 {
  height: 3px;
  margin-top: 21px;
  margin-bottom: 0;
  transform-origin: center top 0px;
}

.u-section-9 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin: 36px 21px 0;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 54px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-9 .u-icon-2 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-9 .u-text-6 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-9 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-9 .u-text-7 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin: 36px 21px 0;
}

.u-section-9 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 54px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-9 .u-icon-3 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-9 .u-text-9 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-9 .u-line-3 {
  height: 3px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-9 .u-text-10 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  margin: 36px 21px 0;
}

.u-section-9 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 54px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 470px;
  }

  .u-section-9 .u-text-4 {
    width: 205px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-7 {
    width: 205px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-10 {
    width: 205px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -210px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1080px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -150px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2251px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -24px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-10 .u-text-1 {
  margin: 53px auto 0 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 402px;
  background-image: none;
}

.u-section-10 .u-image-1 {
  height: 305px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 -1px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 18px 0 0 35px;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -28px 25px 0 55px;
}

.u-section-10 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

.u-section-10 .u-layout-cell-2 {
  background-image: none;
  min-height: 402px;
}

.u-section-10 .u-image-2 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 6px 20px 0 60px;
}

.u-section-10 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: -29px auto 0 20px;
}

.u-section-10 .u-layout-cell-3 {
  background-image: none;
  min-height: 402px;
}

.u-section-10 .u-image-3 {
  height: 298px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 19px 9px 0 71px;
}

.u-section-10 .u-icon-4 {
  height: 26px;
  width: 26px;
  margin: -26px auto 0 20px;
}

.u-section-10 .u-layout-cell-4 {
  background-image: none;
  min-height: 402px;
}

.u-section-10 .u-image-4 {
  height: 298px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-10 .u-icon-5 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

.u-section-10 .u-layout-cell-5 {
  background-image: none;
  min-height: 402px;
}

.u-section-10 .u-image-5 {
  height: 298px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-7 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-10 .u-icon-6 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

.u-section-10 .u-layout-cell-6 {
  background-image: none;
  min-height: 402px;
}

.u-section-10 .u-image-6 {
  height: 298px;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-8 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 19px 0 61px;
}

.u-section-10 .u-icon-7 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-10 .u-image-1 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-10 .u-image-2 {
    height: 246px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-10 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-5 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-10 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 401px;
  }

  .u-section-10 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-6 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-10 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 401px;
  }

  .u-section-10 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-7 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-10 .u-icon-6 {
    margin-left: 16px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 401px;
  }

  .u-section-10 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-8 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-10 .u-icon-7 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-10 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    height: 188px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-10 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-10 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-10 .u-icon-6 {
    margin-left: 13px;
  }

  .u-section-10 .u-text-8 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-10 .u-icon-7 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-10 .u-image-1 {
    height: 432px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-2 {
    height: 423px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-10 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-10 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-10 .u-icon-6 {
    margin-left: 9px;
  }

  .u-section-10 .u-text-8 {
    margin-right: 9px;
    margin-left: 35px;
  }

  .u-section-10 .u-icon-7 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-10 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-2 {
    height: 266px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-10 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-10 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-10 .u-icon-6 {
    margin-left: 6px;
  }

  .u-section-10 .u-text-8 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-10 .u-icon-7 {
    margin-left: 6px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 413px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 361px;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 42px 30px 0 10px;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  margin: 10px 30px 0 10px;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 14px 30px 0 10px;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  margin: 10px 30px 0 10px;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 16px 30px 0 10px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-11 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-11 .u-text-7 {
  font-size: 1.875rem;
  margin: 20px 20px 0 0;
}

.u-section-11 .u-text-8 {
  margin: 20px 20px 0 0;
}

.u-section-11 .u-form-1 {
  height: 47px;
  margin: 41px 30px 0 0;
}

.u-section-11 .u-input-1 {
  border-radius: 10px;
  font-size: 0.75rem;
}

.u-section-11 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 233px;
  min-width: 191px;
  margin: 30px auto 30px 0;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-11 .u-icon-3 {
  height: 100%;
}

.u-section-11 .u-icon-4 {
  height: 100%;
}

.u-section-11 .u-icon-5 {
  height: 100%;
}

.u-section-11 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 16px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    position: relative;
    width: 264px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    position: relative;
    width: 264px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-11 .u-text-7 {
    font-size: 1.5rem;
    position: relative;
    margin-right: 16px;
  }

  .u-section-11 .u-text-8 {
    margin-top: 31px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-11 .u-form-1 {
    margin-top: 30px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-11 .u-text-3 {
    width: 202px;
    margin-right: 19px;
    margin-left: 13px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 19px;
    margin-bottom: 30px;
    margin-left: 13px;
    width: 202px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-11 .u-text-7 {
    margin-right: 13px;
  }

  .u-section-11 .u-text-8 {
    margin-right: 13px;
  }

  .u-section-11 .u-form-1 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-3 {
    width: 189px;
  }

  .u-section-11 .u-text-4 {
    width: 189px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-11 .u-text-7 {
    margin-top: 35px;
    margin-right: 9px;
  }

  .u-section-11 .u-text-8 {
    margin-right: 9px;
  }

  .u-section-11 .u-form-1 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: -8px;
    margin-left: 20px;
  }

  .u-section-11 .u-text-3 {
    margin-right: -3px;
    margin-left: 20px;
  }

  .u-section-11 .u-text-4 {
    margin-right: -3px;
    margin-left: 20px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-11 .u-text-7 {
    margin-right: 6px;
  }

  .u-section-11 .u-text-8 {
    margin-right: 6px;
  }

  .u-section-11 .u-form-1 {
    margin-right: 9px;
  }
}